/*
Author: Kevin Ward
Class: VFW1207
Name: Project 2
Date: 07-02-2012
*/

#charset "utf-8";

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
	min-height: 480px;
	max-width: 480px;
	line-height: 1.0em;
	letter-spacing: .001em;
	text-align: center;
}

header {
	text-align: center;
	max-width: 480px;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 5px 10px;
	border: 1px solid #FF6600;
	padding: 5px;
	background: #CCFFFF;
	color: darkgreen;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 5px 10px;
	border: 1px solid #FF6600;
	padding: 5px;
	background: #CCFFFF;
	color: darkgreen;
}

article {
	text-align: center;
	max-width: 480px;
}

form {
	font-family: Arial, Helvetica, sans-serif;
	max-width: 480px;
	background: #CCFFCC;
}

legend {
	color: #006600;
	text-align: center;
}

ul {
	background: #CCFFCC;
}

li {
	color: #006600;
	text-align: left;
}

p {
	color: #006600;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	letter-spacing: .02em;
	text-align: center;
}

a {
	color: #006600;
	margin: 5px 5px;
}

a:hover {
	color: darkgreen;
	border: 1px dotted darkorange;
}

footer {
	text-align: center;
	max-width: 480px;
}

small {
	font-family: Arial, Helvetica, sans-serif;
	color: #0000FF;
}




