/*
Author: Kevin Ward
Class: VFW1207
Name: Project 2
Date: 07-02-2012
*/

#charset "utf-8";

body {
	font-family: "Times New Roman";
	margin: 0px;
	padding: 0px;
	min-height: 480px;
	max-width: 960px;
	line-height: 1.0em;
	letter-spacing: .001em;
	text-align: center;
}

header {
	text-align: center;
}

h1 {
	
	margin: 10px 20px 5px 20px;
	border: 1px solid black;
	padding: 5px;
	background: darkgrey;
}

h2 {
	margin: 5px;
	border: 1px solid black;
	padding: 5px;
	background: darkgrey;
}

article {
	text-align: center;
}

form {
	
	width: 480px;
}

li {
	text-align: left;
}

a {
	color: green;
	
}

a:hover {
	color: darkgreen;
}

p {
	color: darkgreen;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	letter-spacing: .02em;
	text-align: center;
	text-transform: ;
	text-decoration: ;
}

footer {
	text-align: center;
}
















